{% trans_default_domain 'FOSUserBundle' %}
{% block title %}
    <title>Educare | Your Profil</title>
{% endblock title %}
{% block body %}
  <!--  <div class="main_title upper">
        <h2>
            <span class="line"><i class="ico-signup"></i></span>
            Votre
            <span class="main_title_c1"> Profile.</span>
        </h2>
    </div>
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <div>
            <div class="clearfix">
                <a class="main_button color1 medium_btn bottom_space" target="_self" href="{{ path('fos_user_profile_edit') }}">
                    Edit Profile</a>
                <a class="main_button color6 medium_btn bottom_space" href="{{ path('fos_user_change_password') }}">Change Password?</a>
                <a class="main_button color4 medium_btn bottom_space" href="{{ path('gestion_pfe_homepage') }}">Back</a>
            </div>
        </div>
    </div>

-->
    <div class="page-banner-area" style="background-image: url(/Sites/GestionPFE/web/Client/img/page-banner/page-banner.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <!-- Section Title -->
                        <div class="section-title alt-sec-title">
                            <h2>Details Profile</h2>
                            <p>Consulter Vottre profile pour faire les modifications que vous souhaitez !</p>
                        </div>
                        <!-- Page breadcrumb -->
                        <div class="page-breadcrumb">
                            <ul>
                                <li><a href="{{ path('gestion_pfe_homepage') }}">Acceuil</a></li>
                                <li><a class="not-active" href="{{ path('fos_user_profile_show') }} ">Details de Profile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- // End Page banner area -->
    <!-- Professors area -->
    <div class="professors-area section-padding professors-detail">
        <div class="container">
            <div class="row">
                <!-- Singel professors -->
                <div class="col-md-12">
                    <div class="single-professors-two">
                        <div class="row">
                            <div class="col-md-4 col-sm-5">
                                <div class="professors-two-img">
                                    <img src="{{ asset('uploads/user/'~user.image) }}" alt="">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-7">
                                <div class="professors-two-content">

                                    <h4 style="font-family: 'idealtheme'">Informations personnels</h4>
                                    <span style="font-kerning: auto">username:{{ user.username }}</span>
                                    <span>nom/prenom: {{ user.nom }} {{ user.prenom }}</span>
                                    <span>age : {{ user.age }} </span>
                                    <span>Université : ESPRIT</span>
                                    <span>Courier Mail : {{ user.email }} </span>
                                    <span>Numero Telephone : {{ user.email }} </span>
                                    <h4 style="font-family: idealtheme"> Adresse :</h4>
                                    <span>Pays : Tunisie</span>
                                    <span>Ville : {{ user.ville }}</span>
                                    <span>rue : {{ user.rue }}</span>
                                    <span>rue : {{ user.codePostal }}</span>



                                    <!-- professors Social links -->

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="professors-info">
                                                Demandes stages: <span>#</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="professors-info">
                                                entretiens passés: <span>15000</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="professors-info">
                                               etretiens validés: <span>04</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="mes-btn">
                                        <a class="theme-btn hvr-shutter-in-horizontal" href="{{ path('fos_user_profile_edit') }}" >profile</a>
                                        <a class="theme-btn hvr-shutter-in-horizontal" href=" {{ path('fos_user_change_password') }}" >Modifier mot de passe</a>
                                        <a class="theme-btn hvr-shutter-in-horizontal" href=" {{ path('_afficheform_cv') }}" >CV</a>
                                        <a class="theme-btn hvr-shutter-in-horizontal" href=" #" >Reclamations</a>
                                        <a class="theme-btn hvr-shutter-in-horizontal" href=" #" >Projets</a>



                                    </div>
                                    <div class="mes-btn">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- // End Professors area -->


{% endblock body %}






<!-- nav bar -->
